body{
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: red;
}

svg{
    position: absolute;
    top: 12%;
    left: 8%;
    margin:auto;
    outline: 1px dotted blue;
    width: 90%;
    height: 85%;
}