body{
    background-color: lightblue;
}

title {
    text-align: center;
    font-size: 30px;
    color: red;
}

canvas {
    border: 3px solid gray;
    display: block;
    margin: 20px auto;
}

svg{
    position: absolute;
    top: 12%;
    left: 8%;
    margin:auto;
    outline: 1px dotted blue;
    width: 90%;
    height: 85%;
}